* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000000;
    width: 340px;
    border-radius: 1rem;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a {
    text-decoration: none;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem, 0.7rem;
}

.nav-option {
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
    opacity: 0.5;
}

.nav-option i {
    font-size: 1.35rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option a {
    font-size: 1rem;
    margin: 0.5rem 0 0.25rem 1rem;
    opacity: 0.5;
    font-weight: 600;
}

.library {
    background-color: #121212;
    border-radius: 0.5rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem, 0.7rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.lib-option a {
    font-size: 1rem;
    margin: 0.5rem;
}

.lib-boxes {
    background-color: #232323;
}

.box {
    background-color: #232323;
    height: 7rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem 1.25rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 600;
    background-color: #232323;
}

.box-p2 {
    margin: 1rem 1rem 1rem 0;
    font-size: 0.75rem;
    opacity: 0.9;
    background-color: #232323;
}

.badge {
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1 rem;
    font-weight: 600;
    height: 2rem;
    margin-top: 0.5rem;
    width: fit-content;
}

.dark-badge {
    background-color: #000;
    color: #fff;
    margin: 0.25rem 0.25rem 0.5rem 0;
}

.sticky-nav {
    /* display: inline-block; */
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

#download>i {
    font-size: 0.9rem;
    margin: 0.75rem 0.25rem 0 0;
    border-radius: 100%;
}

.sticky-nav-icons {
    margin: 1rem 0 0 1rem;
    background-color: #121212;
    font-size: 1.5rem;
    opacity: 0.5;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    margin-right: 2.5rem;
}

@media(max-width:1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-title {
    font-weight: 600px;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
    margin-top: 1rem;
}